html,
body {
  margin: 0;
  /* background: url(../images/background/background.svg) no-repeat fixed;
  background-position: right bottom; */
  height: 100%;
}

p {
  margin: 0;
}

input::placeholder {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #b5b5b6;
}

input:focus {
  outline-color: #727172;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 416px;
  height: 114px;
  background-color: #2734b3;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 416px;
  height: 100%;
  padding: 36px 0px 36px 0px;
  background-color: #ffffff;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
}

.title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
  color: #231815;
}

.sub-title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  color: #727172;
}

.desc {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #ff619a;
  margin-top: 10px;
}

.id-box {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.email-info {
  width: 344px;
  height: 36px;
  margin-top: 8px;
  padding-left: 15px;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.pw-info {
  width: 344px;
  height: 36px;
  margin-top: 8px;
  padding-left: 15px;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.invalid-text {
  margin-top: 3px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ff619a;
}

.invalid-email {
  display: none;
  align-items: center;
  gap: 6px;

  width: 344px;
  margin-top: 19px;
}

.invalid-user-info {
  display: none;
  align-items: center;
  gap: 6px;

  width: 344px;
  margin-top: 19px;
}

.pw-box {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.user-pw-confirm {
  width: 344px;
  height: 36px;
  margin-top: 20px;
  padding-left: 15px;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 36px;
  margin-top: 25px;
  background: #2734b3;
  border-radius: 5px;
  border: none;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.create-user {
  display: flex;
  gap: 6px;
  margin-top: 25px;
}

.guide-desc {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #727172;
}

.guide-desc-btn {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #2734b3;
  cursor: pointer;
}

.reset-pw {
  display: flex;
  gap: 6px;
  margin-top: 7px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0px 18px 0px 18px;
  }

  .head {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .id-box {
    width: 90%;
  }

  .pw-box {
    width: 90%;
  }

  .email-info {
    width: 100%;
  }

  .pw-info {
    width: 100%;
  }

  .invalid-email {
    width: 90%;
  }

  .invalid-user-info {
    width: 90%;
  }
}
