html,
body {
  margin: 0;
  background: url(../images/background/background.svg) no-repeat fixed;
  background-position: right bottom;
  height: 100%;
}

p {
  margin: 0;
}

input::placeholder {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #b5b5b6;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 416px;
  height: 114px;
  background-color: #ea002b;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 416px;
  height: 463px;
  background-color: #ffffff;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
}

.title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
  color: #231815;
}

.sub-title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  color: #727172;
}

.desc {
  margin-top: 10px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #ff619a;
}

.new-pw {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.new-pw-confirm {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.user-info {
  width: 344px;
  height: 36px;
  margin-top: 8px;
  padding-left: 15px;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.update-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 36px;
  margin-top: 25px;
  background: #ea002b;
  border-radius: 5px;
  border: none;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0px 18px 0px 18px;
  }

  .head {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .new-pw {
    width: 90%;
  }

  .new-pw-confirm {
    width: 90%;
  }

  .user-info {
    width: 100%;
  }
}
