html,
body {
  margin: 0;
  background: url(../images/background/background.svg) no-repeat fixed;
  background-position: right bottom;
  height: 100%;
}

p {
  margin: 0;
}

input::placeholder {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #b5b5b6;
}

.email-info:focus {
  outline-color: #727172;
}

.certification-input:focus {
  outline: none;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 416px;
  height: 114px;
  background-color: #ea002b;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 416px;
  height: 100%;
  padding: 36px 0px 36px 0px;
  background-color: #ffffff;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
}

.title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
  color: #231815;
}

.sub-title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  color: #727172;
}

.desc {
  margin-top: 10px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #727172;
}

.check-email {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.email-info {
  width: 344px;
  height: 36px;
  margin-top: 8px;
  padding-left: 15px;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.invalid-text {
  margin-top: 3px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ff619a;
}

.invalid-email {
  display: none;
  align-items: center;
  gap: 6px;

  width: 344px;
  margin-top: 19px;
}

.fail-certification {
  display: none;
  align-items: center;
  gap: 6px;

  width: 350px;
  margin-top: 19px;
}

.certification-num {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.inner-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 344px;
  height: 36px;
  margin-top: 8px;
  padding-left: 15px;

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 5px;
}

.certification-input {
  width: 60%;
  border: none;
}

.send-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 36px;
  margin-top: 25px;
  background: #f5f5f5;
  border-radius: 5px;
  border: none;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #b5b5b6;
  cursor: pointer;
}

.confirm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 36px;
  margin-top: 25px;
  background: #f5f5f5;
  border-radius: 5px;
  border: none;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #b5b5b6;
  cursor: pointer;
}

.time-remaining-box {
  display: flex;
  align-items: center;
}

.time-remaining {
  padding-right: 15px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #ea002b;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0px 18px 0px 18px;
  }

  .head {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .check-email {
    width: 90%;
  }

  .certification-num {
    width: 90%;
  }

  .email-info {
    width: 100%;
  }

  .invalid-email {
    width: 90%;
  }

  .inner-box {
    width: 100%;
  }

  .time-remaining {
    font-size: 2vw;
  }
}
